<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/register.css">
    <title>Doner Registration | Food For All</title>
</head>

<body>
    <section class="hadder">
        <div class="message">
            {% for message in messages %}
            <li {% if message.tags %} <div class="alert alert-danger alert-dismissible tag">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {% endif %}{{ message }}</li>
        </div>
        {% endfor %}
        </div>
        <div class="container m">
            <div class="title-d ">
                <h1 class="text-center">Food For All</h1>
            </div>


            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h3>Register here..!</h3>
                            <!-- for name -->
                            <form onsubmit="return validate()" action="donerregister" method="post">
                                {% csrf_token %}
                                <!-- for user name -->
                                <div class="form-group mt-3">
                                    <input name="username" type="text" class="form-control username-field" placeholder="Enter your username">
                                    <small class="username-field-msg form-text text-danger ml-3"></small>
                                </div>
                                <!-- for name -->
                                <div class="form-group mt-3">
                                    <input name="name" type="text" class="form-control name-field" placeholder="Enter your Fullname">
                                    <small class="name-field-msg form-text text-danger ml-3"></small>
                                </div>
                                <!-- for email -->
                                <div class="form-group mt-3">
                                    <input name="email" type="text" class="form-control email-field" placeholder="Enter your Email">
                                    <small class="email-field-msg form-text text-danger ml-3"></small>
                                </div>
                                <!-- for password -->
                                <div class=" form-group mt-3">
                                    <input name="password1" type="password" class="password-field form-control" placeholder="Enter your Password">
                                    <small class="password-field-msg form-text text-danger ml-3"></small>
                                </div>
                                <!-- for confirm password -->
                                <div class="form-group mt-3">
                                    <input name="password2" type="password" class="password1-field form-control" placeholder="Confirm your Password">
                                    <small class="password1-field-msg form-text text-danger ml-3"></small>
                                </div>
                                <!-- for phone no -->
                                <div class="form-group mt-3">
                                    <input name="phone" type="text" class="phone-field form-control" placeholder="Enter your Phone Number">
                                    <small class="phone-field-msg form-text text-danger ml-3"></small>
                                </div>
                                <!-- for aadhar no -->
                                <div class="form-group mt-3">
                                    <input name="aadhar" type="text" class="aadhar-field form-control" placeholder="Enter your Aadhar Number">
                                    <small class="aadhar-field-msg form-text text-danger ml-3"></small>
                                </div>
                                <!-- for adderss -->
                                <div class="form-group">
                                    <input name="address" type="text" class="form-control address-field" id="inputAddress2" placeholder="Apartment, studio, or floor">
                                    <small class="address-field-msg form-text text-danger ml-3"></small>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input name="city" type="text" class="form-control city-field" id="inputCity" placeholder="City">
                                        <small class="city-field-msg form-text text-danger ml-3"></small>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input name="state" type="text" class="form-control state-field" id="inputState" placeholder="State">
                                        <small class="state-field-msg form-text text-danger ml-3"></small>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <input name="zip" type="text" class="form-control zip-field" id="inputZip" placeholder="Zip">
                                        <small class="zip-field-msg form-text text-danger ml-3"></small>
                                    </div>
                                </div>
                                <!-- for submit -->
                                <div class="container text-center">
                                    <button class="btn btn-outline-primary">Register</button>
                                </div>
                            </form>


                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <section class="mainbox my-3">
        <div class="">
            <div class="row ">
                <div class="col-sm my-3  text-center">
                    <a class="navbar-brand" href="/">
                        <p class="text-dark">FoodForAll</p>
                    </a>
                </div>
                <div class="col-sm my-3">
                    <p class="who">Who we are</p>

                    <li class="ab ">
                        <a href="about">About us</a>
                    </li>
                    <li class="ab "><a href="contact">Contact us</a></li>

                </div>
                <div class="col-sm my-3">
                    <p class="who ">Get Invoved</p>
                    <li class="ab ">
                        <a href="register">Donate Food</a>
                    </li>
                </div>
                <div class="col-sm my-3">
                    <div class="text-center">Social</div>
                    <div class="">
                        <a href="#" class="fa fa-facebook"> </a>&nbsp;
                        <a href="#" class="fa fa-twitter"> </a>&nbsp;
                        <a href="#" class="fa fa-instagram"> </a>&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer bg-dark">
        <div class="container text-center text-white">
            <p class="ph">Created For FoodForAll &nbsp;&nbsp;&nbsp;&nbsp;|<i class="fa fa-envelope"></i>foodforall@gmail.com</p>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/javascript/jquery.min.js"></script>
    <script src="/static/javascript/register.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>