<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/user.css">
    <link rel="stylesheet" href="/static/css/userBase.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/viewdonationrequest.css">
    <title>{{name}} | Change Password | FoodForAll</title>
</head>

<body>
    <section class="hadder">
        <div class="message">
            {% for message in messages %}
            <li {% if message.tags %} <div class="alert alert-danger alert-dismissible tag">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {% endif %}{{ message }}</li>
        </div>
        {% endfor %}
        </div>
        <div class="container ">
            <div class="title-ch ">
                <h1 class="text-center title-food">Food For All</h1>
            </div>

            <div class="row ">
                <div class="col-md-6 offset-md-3">
                    <div class="card ">
                        <div class="card-body">

                            <h3>Change Password..!</h3>
                            <!-- for name -->
                            <form accept="changepassword" method="post" onsubmit="return validate()">
                                {% csrf_token %}
                                <!-- for password -->
                                <div class=" form-group mt-3">
                                    <input name="cpassword" type="password" class="cpassword-field form-control" placeholder="Enter your Current Password">
                                    <small class="cpassowrd-field-msg form-text text-danger ml-3">
                                    </small>
                                </div>
                                <!-- for new password -->
                                <div class=" form-group mt-3">
                                    <input name="npassword" type="password" class="npassword form-control" placeholder="Enter your New Password">
                                    <small class="npassword-field-msg form-text text-danger ml-3"></small>
                                </div>
                                <!-- for confirm password -->
                                <div class=" form-group mt-3">
                                    <input name="cnpassword" type="password" class="cnpassword-field form-control" placeholder="Confirm your new Password">
                                    <small class="cnpassword-field-msg form-text text-danger ml-3 ">
                                       
                                    </small>
                                </div>

                                <!-- for submit -->
                                <div class="container text-center">
                                    <button class="btn btn-outline-primary my-3">Submit</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->

    <script src="/static/javascript/jquery.min.js"></script>
    <script src="/static/javascript/userBase.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>